
@{
    ViewBag.Title = "Acumulados";
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-search fa-fw "></i>
            Búsqueda de acumulados
        </h1>
    </div>
</div>

<button class="btn btn-primary">Ver todos los acumulados 2015</button>
<button class="btn btn-primary">Ver todos los acumulados 2016</button>


<h3 class="page-title txt-color-blueDark">
    Acumulados por Empleado
</h3>
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        Empleado:<input type="text"/><br/>
        Fecha Inicial:<input type="text" name="mydate" placeholder="Seleccione" class="form-control datepicker" data-dateformat="dd/mm/yy"/><br/>
        Fecha Final:<input type="text" name="mydate" placeholder="Seleccione" class="form-control datepicker" data-dateformat="dd/mm/yy"/><br/>
        <button class="btn btn-primary">Buscar</button>
    </div>
</div>

<h3 class="page-title txt-color-blueDark">
    Acumulados por Percepción
</h3>

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        Fecha Inicial:<input type="text" name="mydate" placeholder="Seleccione" class="form-control datepicker" data-dateformat="dd/mm/yy" /><br />
        Fecha Final:<input type="text" name="mydate" placeholder="Seleccione" class="form-control datepicker" data-dateformat="dd/mm/yy"/><br/>
        <button class="btn btn-primary">Buscar</button>
    </div>
</div>
