
@{
    ViewBag.Title = "Configuracion";
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-cog fa-fw "></i>
            Configuración de la Empresa
        </h1>
    </div>
</div>

<div>
    <table>
        <tr>
            <td>
                Nombre:
            </td>
            <td><input type="text"/></td>
        </tr>
        <tr>
            <td colspan="2" align ="center">Fechas de corte de la nómina</td>
        </tr>
        <tr>
            <td>
                Primera Quincena:
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" href="javascript:void(0);">De</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">1</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">2</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">3</a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
                <div class="btn-group">
                    <a class="btn btn-default" href="javascript:void(0);">A</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">1</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">2</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">3</a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
            </td>
        </tr>
        <tr>
            <td>
                Segunda Quincena:
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" href="javascript:void(0);">De</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">1</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">2</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">3</a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
                <div class="btn-group">
                    <a class="btn btn-default" href="javascript:void(0);">A</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">1</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">2</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">3</a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
            </td>
        </tr>
        <tr>
            <td colspan="2" align ="center">Fechas de corte de horas extra</td>
        </tr>
        <tr>
            <td>
                Primera Quincena:
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" href="javascript:void(0);">De</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">1</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">2</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">3</a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
                <div class="btn-group">
                    <a class="btn btn-default" href="javascript:void(0);">A</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">1</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">2</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">3</a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
            </td>
        </tr>
        <tr>
            <td>
                Segunda Quincena:
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" href="javascript:void(0);">De</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">1</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">2</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">3</a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
                <div class="btn-group">
                    <a class="btn btn-default" href="javascript:void(0);">A</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">1</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">2</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">3</a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
            </td>
        </tr>
        <tr>
            <td colspan="2" align ="center">Recibos</td>
        </tr>
        <tr>
            <td>
                Ordenar recibos por:
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" href="javascript:void(0);">Seleccione</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">Nombre</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Apellido</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">NSS</a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
            </td>
        </tr>
        <tr>
            <td colspan="2" align ="center">Datos de contacto</td>
        </tr>
        <tr>
            <td>
                Télefono:
            </td>
            <td>
                <input type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                Nombre del Contacto:
            </td>
            <td>
                <input type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                Celular del Contacto:
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Correo del Contacto:
            </td>
            <td>
                <input type="text"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" align ="center">Datos para los Contratos</td>
        </tr>
        <tr>
            <td>Dirección</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Ciudad</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Nombre del patrón</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Registro patronal</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Representante</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Dirección del patrón</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Fecha de inicio de contrato</td>
            <td><input type="text" name="mydate" placeholder="Seleccione" class="form-control datepicker" data-dateformat="dd/mm/yy" /></td>
        </tr>
        <tr>
            <td>Fecha de finalización de contrato</td>
            <td><input type="text" name="mydate" placeholder="Seleccione" class="form-control datepicker" data-dateformat="dd/mm/yy" /></td>
        </tr>
        <tr>
            <td>Fecha contrato indefinido</td>
            <td><input type="text" name="mydate" placeholder="Seleccione" class="form-control datepicker" data-dateformat="dd/mm/yy" /></td>
        </tr>
        <tr>
            <td>Anexo del contrato</td>
            <td><input type="textarea" cols="40" rows="10" /></td>
        </tr>
        <tr>
            <td>Reglamento interno</td>
            <td><input type="text" cols="40" rows="10" /></td>
        </tr>
        <tr>
            <td colspan="2" align="center">Datos de la cuenta</td>
        </tr>
        <!--<tr>
            <td>
                Monto a dispersar:
            </td>
            <td><input type="text" /></td>
        </tr>-->
        <tr>
            <td>
                Porcentaje de IMSS sobre nómina:
            </td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>
                Comisón:
            </td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>
                IVA:
            </td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button class="btn btn-primary">Guardar</button>
            </td>
        </tr>
    </table>
</div>

