
@{
    ViewBag.Title = "Nueva";
}

<h2>Nuevo Empleado</h2>

<div>
    <table>
        <tr>
            <td>Apellidos:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Nombres:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>NSS:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>CURP:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>RFC:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Género:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Departamento:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Puesto:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Sueldo Diario:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Ingreso:</td>
            <td>
                <input type="text" name="mydate" placeholder="Seleccione" class="form-control datepicker" data-dateformat="dd/mm/yy" /></td>
        </tr>
        <tr>
            <td>Banco:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Cuenta:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Banco:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Descanso:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Grupo:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Estado:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Dirección:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Colonia:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Código:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Postal:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Ciudad:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Entidad:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Teléfono:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Alta en Seguro Social:</td>
            <td><input type="checkbox" /></td>
        </tr>
        <tr>
            <td>Fecha de Nacimiento:</td>
            <td>
                <input type="text" name="mydate" placeholder="Seleccione" class="form-control datepicker" data-dateformat="dd/mm/yy" /></td>
        </tr>
        <tr>
            <td>Lugar de Nacimiento:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Identificación:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Estado Civil:</td>
            <td><input type="text"/></td>
        </tr>
        <tr>
            <td>
                Empresa encargada de nómina:
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" href="javascript:void(0);">Seleccione</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">Empresa C</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Empresa D</a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-primary">Guardar</button>
            </td>
        </tr>
    </table>
</div>
