
@{
    ViewBag.Title = "Nueva";
}

<h2>Nuevo Departamento</h2>

<div>
    <table>
        <tr>
            <td>Departamento</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Criterio</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Calcula Tiempos Extras</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Omite rango de salario</td>
            <td><input type="checkbox" /></td>
        </tr>
        <tr>
            <td>Clausula Doble Turno</td>
            <td><input type="checkbox" /></td>
        </tr>

        <tr>
            <td colspan="2">
                <button class="btn btn-primary">Guardar</button>
            </td>
        </tr>
    </table>
</div>
