
@{
    ViewBag.Title = "Nueva";
}

<h2>Nueva Percepción</h2>

<div>
    <table>
        <tr>
            <td>Departamento</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Tipo</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Cantidad</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Repeticiones</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Permanente</td>
            <td><input type="checkbox" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Guardar" />
            </td>
        </tr>
    </table>
</div>
