
@{
    ViewBag.Title = "Nueva";
}

<h2>Nueva Empresa</h2>

<div>
    <table>
        <tr>
            <td>
                Nombre:
            </td><td><input type="text" /></td>
        </tr>
        <tr>
            <td>
                Rango primera Quincena:
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Rango segunda quincena:
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Logotipo:
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Encabezado:
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Utiliza reloj:
            </td>
            <td>
                <input type="checkbox" />
            </td>
        </tr>
        <tr>
            <td>
                Comisión:
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                IVA:
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Entidad federativa:
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Estado:
            </td>
            <td>
                <input type="text"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Dependencias:
            </td>
        </tr>
        <tr>
            <td>
                Depende de:
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" href="javascript:void(0);">Ninguna</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">A</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">B</a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
            </td>
        </tr>
        <tr>
            <td>
                Operaciones:
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" href="javascript:void(0);">Todas</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">P</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">V</a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-primary">Guardar</button>
            </td>
        </tr>
    </table>
</div>

