
@{
    ViewBag.Title = "Nueva";
}

<h2>Nueva Nómina</h2>

<div>
    <table>
        <tr>
            <td>
                Fecha Inicial:
            </td>
            <td><input type="text" name="mydate" placeholder="Seleccione" class="form-control datepicker" data-dateformat="dd/mm/yy" /></td>
        </tr>
        <tr>
            <td>
                Fecha Final:
            </td>
            <td>
                <input type="text" name="mydate" placeholder="Seleccione" class="form-control datepicker" data-dateformat="dd/mm/yy" />
            </td>
        </tr>
        <tr>
            <td>
                Tipo de Nómina:
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" href="javascript:void(0);">Seleccione</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">Temporal</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Permanente</a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-primary">Guardar</button>
            </td>
        </tr>
    </table>
</div>

