
@{
    ViewBag.Title = "Mi cuenta";
}

<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-user fa-fw "></i>
                Mi Cuenta
            </h1>
        </div>
    </div>
    <div>
        <table>
            <tr>
                <td>Nombre</td>
                <td><input type="text" value="Juan Perez"/></td>
            </tr>
            <tr>
                <td>Correo electrónico</td>
                <td><input type="text" value="demo@email.com"/></td>
            </tr>
            <tr>
                <td>Contraseña</td>
                <td><input type="password" value="demo"/></td>
            </tr>
            <tr>
                <td>Confirmar Contraseña</td>
                <td><input type="password" value="demo"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-primary">Guardar</button>
                </td>
            </tr>
        </table>

    </div>
</div>
